script(src="socket.io/socket.io.js")
link(rel='stylesheet', href='/static/assets/lib/angular-material/angular-material.min.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet', href='static/assets/lib/ng-sortable/dist/ng-sortable.css')
link(rel='stylesheet', href='static/pr0t0/libs/content-tools.min.css')
link(rel='stylesheet', href='/static/assets/css/workend.css')