extends layout

block content
  div(ng-controller='webtop') 
     div.loading(layout='row', layout-align='center center' ng-hide='userLoaded')
       md-progress-circular(md-mode='indeterminate')
     div(ng-view='')
     md-sidenav.md-sidenav-left(md-component-id='left')
       md-toolbar.md-default-theme(style='min-height: 64px; max-height:64px;', layout='row' layout-align='start center')
         md-button.md-toolbar-tools
          .icon(ng-click='toggleSidebar()')
           svg(viewbox='0 0 24 24', x='0px', y='0px', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#menu
              path(d='M3,18h18v-2H3V18z M3,13h18v-2H3V13z M3,6v2h18V6H3z') 
         span Projects
       md-content
         md-list
           md-item(ng-repeat='item in options')
             md-item-content
               md-button.md-tile-content(ng-click='item.action($event)')
                 h3 {{item.name}}
block foot
  script(src='lib/angular/angular.js')
  |     
  script(src='lib/angular-aria/angular-aria.js')
  |     
  script(src='lib/angular-animate/angular-animate.js')
  |     
  script(src='lib/hammerjs/hammer.js')
  |     
  script(src='lib/angular-material/angular-material.js')
  |     
  script(src='lib/ngStorage/ngStorage.min.js')
  |     
  script(src='lib/angular-route/angular-route.min.js')
  |     
  script(src='app.js')
  |     
  script(src='controllers/webtop.js')
  |     
  script(src='controllers/login.js')
  |     
  script(src='controllers/WEshortcuts.js')
  |     
  script(src='controllers/projectsDialog.js')
  |     
  script(src='controllers/projectsListDialog.js')
  |     
  script(src='services/session.js')