extends layout

block content
  div(ng-controller='webtop') 
     div.loading(layout='row', layout-align='center center' ng-hide='userLoaded')
       md-progress-circular(md-mode='indeterminate')
     div(ng-view='')
block foot
  script(src='lib/Chart.js/Chart.min.js')
  | 
  script(src='lib/angular/angular.js')
  |     
  script(src='lib/angular-aria/angular-aria.js')
  |     
  script(src='lib/angular-animate/angular-animate.js')
  |     
  script(src='lib/hammerjs/hammer.js')
  |     
  script(src='lib/angular-material/angular-material.js')
  |     
  script(src='lib/ngStorage/ngStorage.min.js')
  |     
  script(src='lib/angular-route/angular-route.min.js')
  |     
  script(src='lib/tc-angular-chartjs/dist/tc-angular-chartjs.min.js')
  |     
  script(src='app.js')
  |     
  script(src='controllers/webtop.js')
  |     
  script(src='controllers/login.js')
  |     
  script(src='controllers/WEshortcuts.js')
  |     
  script(src='controllers/projectsDialog.js')
  |     
  script(src='controllers/projectsListDialog.js')
  |     
  script(src='services/session.js')