doctype html
html.no-js.lt-ie9(lang='en', ng-app='workend')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Workend
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/lib/angular-material/angular-material.min.css')
    link(rel='stylesheet', href='/assets/css/workend.css')
  body
    block content
    block foot