script(type="text/javascript", src='static/assets/lib/Chart.js/Chart.min.js')
script(type="text/javascript", src='static/assets/lib/underscore/underscore.js')
script(type="text/javascript", src='static/assets/lib/angular/angular.js')
script(type="text/javascript", src='static/assets/lib/angular-translate/angular-translate.js')
script(type="text/javascript", src='static/assets/lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
script(type="text/javascript", src='static/assets/lib/angular-aria/angular-aria.js')
script(type="text/javascript", src='static/assets/lib/angular-animate/angular-animate.js')
script(type="text/javascript", src='static/assets/lib/hammerjs/hammer.js')
script(type="text/javascript", src='static/assets/lib/angular-material/angular-material.js')
script(type="text/javascript", src='static/assets/lib/ngStorage/ngStorage.min.js')
script(type="text/javascript", src='static/assets/lib/ng-sortable/dist/ng-sortable.js')
script(type="text/javascript", src='static/assets/lib/webcamjs/webcam.js')
script(type="text/javascript", src='static/assets/lib/ng-camera/dist/ng-camera.js')
script(type="text/javascript", src='static/assets/lib/angular-route/angular-route.min.js')
script(type="text/javascript", src='static/assets/lib/tc-angular-chartjs/dist/tc-angular-chartjs.min.js')
script(type="text/javascript", src='static/app.js')
script(type="text/javascript", src='static/controllers/webtop.js')
script(type="text/javascript", src='static/controllers/sidenav.js')
script(type="text/javascript", src='static/controllers/login.js')
script(type="text/javascript", src='static/controllers/registeredCtrl.js')
script(type="text/javascript", src='static/controllers/workendCtrl.js')
script(type="text/javascript", src='static/controllers/productDialog.js')
script(type="text/javascript", src='static/controllers/projectsDialog.js')
script(type="text/javascript", src='static/controllers/memberDialog.js')
script(type="text/javascript", src='static/boards/controllers/boardCtrl.js')
script(type="text/javascript", src='static/boards/controllers/task.js')
script(type="text/javascript", src='static/boards/controllers/issue.js')
script(type="text/javascript", src='static/boards/controllers/editTask.js')
script(type="text/javascript", src='static/boards/controllers/editIssue.js')
// Pr0t0 scripts
script(type="text/javascript", src='static/pr0t0/libs/content-tools.min.js')
script(type="text/javascript", src='static/pr0t0/core/pr0t0.js')
script(type="text/javascript", src='static/pr0t0/core/pr0t0Sanitize.js')
script(type="text/javascript", src='static/pr0t0/services/components.js')
script(type="text/javascript", src='static/pr0t0/services/uuid.js')
script(type="text/javascript", src='static/pr0t0/services/dnd.js')
script(type="text/javascript", src='static/pr0t0/services/draggable.js')
script(type="text/javascript", src='static/pr0t0/services/logicalInheritance.js')
script(type="text/javascript", src='static/pr0t0/services/pr0t0Sanitize.js')
script(type="text/javascript", src='static/pr0t0/services/toolbars.js')
script(type="text/javascript", src='static/pr0t0/controllers/mainCtrl.js')

script(type="text/javascript", src='static/calendar/controllers/calendarCtrl.js')
script(type="text/javascript", src='static/timesheet/controllers/timesheetCtrl.js')
script(type="text/javascript", src='static/services/session.js')
// script(type="text/javascript", src="https://togetherjs.com/togetherjs-min.js")  