md-bottom(ng-click='toggleSidebar()', aria-label='Navigation')  Open Right Menu 

md-bottom(ng-click='logout()', aria-label='Logout')  Logout 

md-bottom(ng-click='projects($event)', aria-label='projects')  projects 

md-content.md-padding(layout="row")
    md-card(flex='61')
        h2 Code Distribution
        p
          | The titles of Washed Out&apos;s breakthrough song and the first single from Paracosm share the
          | two most important words in Ernest Greene&apos;s musical language: feel it. It&apos;s a simple request, as well... 
    md-card(flex='33')
        h2 Test Coverage   
        p
          | The titles of Washed Out&apos;s breakthrough song and the first single from Paracosm share the
          | two most important words in Ernest Greene&apos;s musical language: feel it. It&apos;s a simple request, as well... 
md-content.md-padding(layout="row")
    md-card(flex='33')
        h2 Pull Requests 
        p
          | The titles of Washed Out&apos;s breakthrough song and the first single from Paracosm share the
          | two most important words in Ernest Greene&apos;s musical language: feel it. It&apos;s a simple request, as well...
    md-card(flex='61')
        h2 News Feed 
        p
          | The titles of Washed Out&apos;s breakthrough song and the first single from Paracosm share the
          | two most important words in Ernest Greene&apos;s musical language: feel it. It&apos;s a simple request, as well...
