div
  md-content.md-padding(ng-mousedown="ctb()", style='background:#90CAF9')
    div(layout="row", layout-sm="column" layout-align="center center")
      md-card(class="md-whiteframe-z3", flex='45')
        h3(style="font-weight:normal", offset="5") {{'workend.sprintStatus' | translate}}
      md-card(class="md-whiteframe-z3", flex='45')
        h3(style="font-weight:normal", offset="5") {{'workend.coverage' | translate}}
        canvas(offset="5", tc-chartjs-pie, chart-options="chartOptions", chart-data="countData", auto-legend)
    div(layout="row", layout-sm="column" layout-align="center center")
      md-card(class="md-whiteframe-z3", flex='45')
        h3(style="font-weight:normal", offset="5") {{'workend.testReports' | translate}}
        canvas(offset="5", tc-chartjs-pie, chart-options="chartOptions", chart-data="fileData", auto-legend)
      md-card(class="md-whiteframe-z3", flex='45')
        h3(style="font-weight:normal", offset="5") {{'workend.milestone' | translate}}
        canvas(offset="5", tc-chartjs-pie, chart-options="chartOptions", chart-data="countData", auto-legend)
    div(layout="row", layout-sm="column" layout-align="center center", flex='90')
      md-card(class="md-whiteframe-z3", style="min-width:91%")
        h3(style="font-weight:normal", offset="5") {{'workend.fileStatistics' | translate}}
        div(offset="5", layout="column")
         canvas(flex='20', tc-chartjs-pie, chart-options="chartOptions", chart-data="fileData", auto-legend)
        div(offset="5", layout="column")
         canvas(flex='20', tc-chartjs-pie, chart-options="chartOptions", chart-data="countData", auto-legend)