div(layout='column',layout-padding, flex, layout-align="center center")
 div.header
  h2 Workend Access
 div.md-whiteframe-10dp(ng-controller="login", aria-label='Login', class="loginDialog", style='min-width:450px;max-width:800px;')
   form
    md-toolbar
     div.md-toolbar-tools(layout-padding, layout-align="space-between center")
      h2 {{'login.message' | translate}} 
      span(flex)
      div(layout='row')
       md-button(ng-click='switchLanguage("en_US")')
        span {{'global.english' | translate}}
       md-button(ng-click='switchLanguage("es_ES")')
        span {{'global.spanish' | translate}}
    md-dialog-content
     md-tabs.md-accent(md-selected='data.selectedIndex')
      md-tab#login(aria-controls='login-content')  {{'login.login' | translate}}
      md-tab#register(aria-controls='register-content')  {{'login.register' | translate}}
     ng-switch.tabpanel-container(on='data.selectedIndex')
      #login-content(role='tabpanel', aria-labelledby='login', ng-switch-when='0', md-swipe-left='next()', md-swipe-right='previous()')
       md-content(layout-padding)
          form
           div(layout="row", layout-sm='column', flex)
            md-input-container(flex='45')
             label {{'login.username' | translate}} 
             input(ng-model='$root.username')
            md-input-container(flex='45')
             label {{'login.password' | translate}} 
             input(ng-model='$root.password', type='password')
      #register-content(role='tabpanel', aria-labelledby='register', ng-switch-when='1', md-swipe-left='next()', md-swipe-right='previous()')
        md-content(layout-padding)
          form
           div(layout="row", layout-sm='column', flex)
            md-input-container(flex='45')
             label {{'login.username' | translate}} 
             input(ng-model='$root.username')
            md-input-container(flex='45')
             label {{'login.password' | translate}} 
             input(ng-model='$root.password', type='password')
           div(layout="column", layout-sm='column')
            md-input-container(flex)
             label {{'login.email' | translate}} 
             input(ng-model='$root.email')
            md-input-container(flex)
             label {{'login.companyName' | translate}} 
             input(ng-model='$root.companyName')
            md-input-container(flex)
             label {{'login.description' | translate}} 
             textarea(md-maxlength="600",columns="1",ng-model="$root.companyDescription")
    div.md-actions(layout="row")
        span(flex)
        md-button.md-raised.md-primary(ng-show='data.selectedIndex === 0', ng-click='login()', aria-labelledby='Login',) {{'login.login' | translate}}
        md-button.md-raised.md-primary(ng-show='data.selectedIndex === 1', ng-click='register()', aria-labelledby='Register',) {{'login.register' | translate}}