md-bottom-sheet.md-grid
  h4 Available Tasks
  md-list
    md-item(ng-repeat='item in tasks')
      md-button.md-grid-item-content(aria-label='{{item.name}}', ng-click='runTask($index)')
        div.md-icon-container
          md-inline-grid-icon(class='{{item.icon}}')
        p.md-grid-text  {{ item.name }}