md-dialog(aria-label='Manage Projects')
    md-content
      md-subheader.md-sticky-no-effect Manage Projects   
      .md-actions(layout='row')
        span(flex='')
        md-button(ng-click='') Cancel
        md-button.md-primary(ng-click='') Open