md-dialog(aria-label='List of Projects')
    md-content
      md-subheader.md-sticky-no-effect User's Projects
      .md-content
        div.loadingFiles(layout='row', layout-align='center center' ng-hide='dirloaded')
          md-progress-circular(md-mode='indeterminate')
        ul.projectList
          li(ng-repeat='item in projects', ng-click='selectProject(item)', ng-dblclick='open(item)', ng-class='{ active: item.name === selectedProject }')
            a {{ item.name }}
      .md-actions(layout='row')
        span(flex='')
        md-button(ng-click='close()') Cancel
        md-button.md-primary(ng-click='open()') Open